
/HWiNFO_LCD_C_Sharp/.vs
/HWiNFO_LCD_C_Sharp/Arduino_Monitor/bin
/HWiNFO_LCD_C_Sharp/Arduino_Monitor/obj
/OpenInfo_LCD_C_Sharp/.vs
/OpenInfo_LCD_C_Sharp/OpenHardwareMonitorLCD/bin
/OpenInfo_LCD_C_Sharp/OpenHardwareMonitorLCD/obj
.DS_Store
